* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    min-height: 100vh;
}

::after,
::before {
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
    font-weight: 500;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
}

p {
    font-size: 1em;
}

img {
    width: 100%;
    height: auto;
}

/*  navigation  */

header {
    position: fixed;
	top: 0;
    left: 0;
    right: 0;
	background-color: #f5f5f5;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
	z-index: 1;
    display: flex;
    flex-wrap: wrap;
	padding: 3em 10em;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 700;
}

header .logo:hover {
    color: #1e1e1e;
}

nav {
    display: flex;
    gap: 50px;
}

header nav a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #1e1e1e;
    transition: .3s ease;
}

header nav a.active,
header nav a:hover {
    color: #a26028;
}


header nav span {
    font-size: 1rem;
    font-weight: 500;
    color: #1e1e1e;
}

/* Style dla buttona */
header .btn {
    display: none;
    cursor: pointer;
}

header .btn .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: #1e1e1e;
}


/*  home    */

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("images/pexels-curtis-adams-1694007-15242038.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8em 10em;
}

#home h1 {
    color: #f5f5f5;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;
    width: 60%;
    padding-bottom: 10px;
}

#home p {
    width: 60%;
    color: #f5f5f5;
    letter-spacing: 1px;
    text-align: left;
    
}

#home .btny {
    margin-top: 2em;
}

#home a {
    width: max-content;
    text-decoration: none;
    color: #1e1e1e;
    font-size: 1rem;
    padding: 15px 35px;
    margin-top: 2em;
    background-color: #f5f5f5;
    transition: .3s ease;
}

#home a:hover {
    background-color: #a26028;
    color: #f5f5f5;
}


/*  price   */

#price {
    display: none;
    padding: 8em 8em 0 8em;
    align-items: center;
}

#price h2 {
    padding: 2em 0;
}

#price p {
    padding: 2em 0;
}

#price a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1rem;
    padding: 15px 35px;
    margin-top: 2em;
    background-color: #1e1e1e;
    transition: .3s ease;
}

#price a:hover {
    background-color: #a26028;
}

/* #price table {
    width: 60%;
} */

#price th {
	font-size: 1.5em;
	padding: 1em;
	text-align: center;
}

#price td {
    padding: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
}

#price input {
    outline: none;
    border: none;
}

#price button {
    margin-top: 2em;
    padding: 15px 35px;
    border: none;
    background-color: #1e1e1e;
    color: #f5f5f5;
}

#price button:hover {
    background: #a26028;
    cursor: pointer;
}

#price h3 {
    margin: 2em 0;
}


/*  about   */

#about {
    align-items: center;
    padding: 8em 10em;
}

#about h2 {
    text-align: center;
    padding-bottom: 10px;
}

#about p {
    text-align: justify;
    color: #1e1e1e;
}

#about .box {
    padding-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    
}

#about .box .left {
    align-items: center;
}

#about .box .left img {
    width: 100%;
	height: auto;
    object-fit: cover;
}

#about .box .right {
    margin: auto 4em;
    align-items: center;
}

#about .box .right h3{
    text-align: left;
    color: #1e1e1e;
    padding-bottom: 10px;
}

#about .box .right p {
    color: #1e1e1e;
    padding-bottom: 2em;
}

#about .box .right .btny {
    width: 100%;
    height: 100%;
    padding-top: 2em;
    text-align: left;
}

#about .box .right a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1rem;
    padding: 15px 35px;
    background-color: #1e1e1e;
    transition: .3s ease;
}

#about .box .right a:hover {
    background-color: #a26028;
}


/*  services    */

#services {
    text-align: center;
    padding: 8em 10em;
    background-color: #f5f5f5;
}

#services h2 {
    padding-bottom: 10px;
	/* position: relative; */
}
/* #services h1:after {
    content: "";
    position: absolute;
    background-color: #000000;
    width: 35px;
    height: 5px;
    right: calc(50% - 15px);
    bottom: 0;
} */
#services p {
    padding-bottom: 2em;
}

#services .services-container {
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2em;
}

#services .services-container .container-box {
    text-align: start;
    position: relative;
    height: 100%;
    overflow: hidden;
}

#services .services-container .container-box img {
    width: 100%;
    height: 350px;
	object-fit: cover;
    padding-bottom: 2em;
}

#services .services-container .container-box .content {
    text-align: center;
}

#services .services-container .container-box .content h3 {
    font-size: 1.3rem;
    padding-bottom: 20px;
}

#services .services-container .container-box .content p {
    padding: 0 2em;
}


/*  realizacje  */

#projects {
    text-align: center;
    padding: 8em 10em;
}

#projects h2 {
    padding-bottom: 10px;
}

#projects p {
    padding-bottom: 2em;
}

#projects .container {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    gap: 2em;
    
}

#projects .container .box {
    text-align: start;
    position: relative;
    height: 100%;
    overflow: hidden;
}

#projects .container .box .image__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#projects .container .box .image__overlay {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

#projects .container .box .image__overlay:hover {
    opacity: 1;
}

#projects .container .box .image__title {
    font-size: 1.3rem;
    font-weight: 600;
}


/*  kontakt */

#contact {
    padding-top: 10em;
    background: #f5f5f5;
}

#contact .box {
    display: flex;
    padding: 0 4em 8em 4em;
}

#contact .box .info {
    margin: auto;
    text-align: left;
}

#contact .box .info h2 {
    padding-bottom: 10px;
    font-weight: 500;
}

#contact .box .info p {
    padding-bottom: 2em;
    font-weight: 300;
}

#contact .box .info span {
    font-weight: bold;
}

#contact .box .container {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding-left: 20px;
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 10px);
}

form .input-box span.details {
    display: block;
    font-weight: 200;
    margin-bottom: 5px;
}

form .input-box span.details:after {
    content: ' *';
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    border: none;
    background: #f5f5f5;
    border-bottom: 1px solid;
    transition: all 0.3s ease;
}

form .write-box {
    margin-bottom: 15px;
}

form .write-box span.details {
    display: block;
    font-weight: 200;
    margin-bottom: 5px;
}

form .write-box input {
    height: 45px;
    width: 100%;
    padding-left: 15px;
    outline: none;
    font-size: 16px;
    border: none;
    background: #f5f5f5;
    border-bottom: 1px solid;
    transition: all .3s ease;
}

form .write-box textarea {
    width: 100%;
    padding-left: 15px;
    outline: none;
    font-size: 16px;
    border: none;
    background: #f5f5f5;
    border-bottom: 1px solid;
    transition: all .3s ease;
    resize: none;
}

.user-details .input-box input:hover,
.user-details .input-box input:focus:invalid {
    border-bottom: 2px solid;
}

/*.user-details .input-box input:valid {
    color: rgb(255,64,64);
    border-bottom: 2px solid;
}*/

.write-box input:hover,
.write-box input:focus {
    border-bottom: 2px solid;
}

.write-box textarea:hover,
.write-box textarea:focus {
    border-bottom: 2px solid;
}

form .button {
    height: 53px;
}

form .button input {
    height: 100%;
    width: 100%;
    border: none;
    background: #1e1e1e;
    color: #f5f5f5;
    font-size: 1rem;
    cursor: pointer;
}

form .button input:hover {
    background: #a26028;
}

#contact .mapa {
    width: 100%;
    height: 70vh;
}

#contact .mapa iframe {
    width: 100%;
    height: 100%;
}


/*  footer  */

footer {
    padding: 4em 16em;
    background: #f5f5f5;
    align-items: center;
}

footer .copyrights {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #1e1e1e;
    font-weight: 500;
}

footer .copyrights .socials a {
    padding: 0 10px;
    color: #1e1e1e;
    transition: .3s ease;
}

footer .copyrights .socials a:hover {
    color: #a26028;
}

@media (max-width: 1200px) {
    header .btn {
        display: block;
		
    }

    header .btn.active .bar:nth-child(2) {
		opacity: 0;
		background-color: #a26028;
	}
	
	header .btn.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
		background-color: #a26028;
	}
	
	header .btn.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
		background-color: #a26028;
	}

    nav span {
        padding: 1em 0;
    }

    nav {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: #f5f5f5;
        width: 100%;
        text-align: center;
        transition: .3s;
		padding-top: 2em;
    }

    nav a {
        margin: 16px 0;
    }

    nav.active {
        left: 0;
    }
}

@media (max-width: 991px) {

    header {
        padding: 2em 4em;
    }

    #home {
        padding: 4em;
    }

    #home h1 {
        width: 100%;
        font-size: 3rem;
    }
	
	#home p {
		padding: 0;
        width: 100%;
	}

    #about {
        padding: 8em 4em;
    }
    #about .box {
        display: flex;
        flex-direction: column;
    }
    
    #about .box .right {
        margin: auto;
    }

    #about .box .right h3 {
        text-align: center;
    }

    #services {
        padding: 8em 4em;
    }

    #services .services-container {
        display: flex;
        flex-direction: column;
    }

    #services .services-container .container-box .content p {
        padding: 0;
    }

    #projects {
        padding: 8em 4em;
    }

    #contact {
        padding-top: 8em;
    }

    #contact .box {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 4em 4em 4em;
        align-items: center;
    }
    #contact .box .container {
        padding-left: 0;
    }
	
	#services .services-container .container-box img {
		width: 100%;
		height: 500px;
		object-fit: cover;
		padding-bottom: 2em;
	}

    footer {
        padding: 4em 8em;;
    }
}

@media (max-width: 600px) {

    #home h1 {
        font-size: 2rem;
        padding-bottom: 10px;
    }

    #about h2 {
        font-size: 2rem;
        padding: 10px;
    }

    #about .box .right h3 {
        font-size: 1.8rem;
    }

    #services h2 {
        font-size: 2rem;
        padding-bottom: 10px;
    }

    #services .services-container .container-box img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		padding-bottom: 2em;
	}

    #projects h2{
        font-size: 2rem;
        padding-bottom: 10px;
    }

    #projects .container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    #contact h2 {
        font-size: 2rem;
        padding-bottom: 10px;
    }

    form .input-box span.details {
        font-size: 1rem;
        font-weight: 200;
    }

    form .write-box span.details {
        font-size: 1rem;
        font-weight: 200;
    }
    
    #price {
        padding-top: 20em;
        overflow: scroll;
    }
}

@media (max-width: 479px) {
    h1,
    h2 {
        font-size: 1.5em;
    }

    header {
        padding: 1em 2em;
    }

    #home {
        padding: 6em 2em;
    }
	#home h1 {
        padding-bottom: 10px;
	}
	
	#home p {
        width: 100%;
	}

    #about {
        padding: 6em 2em;
    }

    #services {
        padding: 6em 2em;
    }

    #projects {
        padding: 6em 2em;
    }

    #contact {
        padding-top: 6em;
    }

    #contact .box {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 2em 2em 2em;
        align-items: center;
    }

    footer {
        padding: 2em 2em;
    }

    footer .copyrights {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
